@font-face {
  font-family: 'Neue Montreal';
  font-weight: 200;
  src: url('./NeueMontreal-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  /* src: url("./NeueMontreal-Light.otf") format("opentype"); */
  src: url('./NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  /* src: url("./NeueMontreal-Regular.otf") format("opentype"); */
  src: url('./NeueMontreal-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 500;
  src: url('./NeueMontreal-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 600;
  src: url('./NeueMontreal-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 300;
  src: url('./RobotoMono-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  src: url('./RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 500;
  src: url('./RobotoMono-Medium.ttf') format('truetype');
}

html {
  font-family: 'Neue Montreal', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
