.pa {
  padding: var(--padding);
}
.pv {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.ph {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.pb {
  padding-bottom: var(--padding);
}

:root {
  --padding: 1rem;

  --near-black: #202020;
  --black: #000000;
  --near-white: #f5f5f5;
  --white: #ffffff;
  --gray: #b3b9bc;
  --dark-gray: #999999;

  --green: #75ec55;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;

  overflow: auto;

  font-weight: 500;

  background: #f5f5f5;
}

.max-width {
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
  border-bottom: 1px solid var(--gray);
  transition: 0.3s color ease;
}
a:hover {
  color: var(--near-black);
}

a.pill {
  display: inline-block;
  padding: 0.2em 0.5em;
  color: var(--near-black);
  border: 1px solid var(--near-black);
  border-radius: 0.25em;
  text-decoration: none;
}

a.pill:hover {
  background: var(--near-black);
  color: var(--white);
}

h2 {
  font-family: 'Roboto Mono';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--near-black);
}

.mono {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.small {
  font-size: 0.8em;
}

.tc {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav ul li:not(:last-of-type) {
  padding-right: var(--padding);
}

div.skills > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
div.skills > div h2 {
  margin-bottom: 1rem;
}
div.skills > div span {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

div.workshops .grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  font-size: 0.9em;
  border-top: 1px solid var(--gray);
  margin-top: 1em;
}
div.workshops .grid div {
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--gray);
}
div.workshops .grid div:nth-child(3n + 2) {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

div.workshops .grid div:nth-child(3n + 0) {
  text-align: right;
}

div.list div.grid {
  margin: var(--padding) 0;
  display: grid;
  grid-gap: calc(var(--padding) * 2);
  grid-template-columns: repeat(3, 1fr);
}

div.list div.grid a.card {
  display: block;
  position: relative;
  color: var(--near-black);
  text-decoration: none;
  background: #fff;
  border-radius: 0.25em;
  /* padding: var(--padding); */
  transition: 0.3s transform ease;
  font-size: 0.9em;
  border-width: 0px;
}
div.list div.grid a.card:hover {
  transform: scale(1.05);
}

div.list div.grid a.card div.image {
  padding-bottom: 52.26%;
  background-size: cover;
  border-radius: 0.25em 0.25em 0 0;
  margin-bottom: 0.5em;
}

div.list div.grid a.card div.title {
  font-weight: 500;
}
div.list div.grid a.card div.description {
  color: var(--gray);
  padding-bottom: 1em;
}

header {
  margin-top: calc(var(--padding) * 3);
}

header div.fade-in {
  animation-name: header-fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;

  max-width: 25em;

  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: -0.5pt;
}

header ul.features li {
  display: inline-block;
  margin-right: 1rem;
  color: var(--dark-gray);
}
header ul.features li:before {
  content: '• ';
}
header ul.social li {
  display: inline-block;
  margin-right: 1rem;
  color: var(--near-black);
}
header ul.social li a {
  color: inherit;
  border: 0;
}
header ul.social li a svg {
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes header-fade-in {
  from {
    transform: translate(0, 10%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
