header {
  margin-top: calc(var(--padding) * 3);
}

header div.fade-in {
  animation-name: header-fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;

  max-width: 25em;

  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: -0.5pt;
}

header ul.features li {
  display: inline-block;
  margin-right: 1rem;
  color: var(--dark-gray);
}
header ul.features li:before {
  content: '• ';
}
header ul.social li {
  display: inline-block;
  margin-right: 1rem;
  color: var(--near-black);
}
header ul.social li a {
  color: inherit;
  border: 0;
}
header ul.social li a svg {
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes header-fade-in {
  from {
    transform: translate(0, 10%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
