div.list div.grid {
  margin: var(--padding) 0;
  display: grid;
  grid-gap: calc(var(--padding) * 2);
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  div.list div.grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

div.list div.grid a.card {
  display: block;
  position: relative;
  color: var(--near-black);
  text-decoration: none;
  background: #fff;
  border-radius: 0.25em;
  /* padding: var(--padding); */
  transition: 0.3s transform ease;
  font-size: 0.9em;
  border-width: 0px;
}
div.list div.grid a.card:hover {
  transform: scale(1.05);
}

div.list div.grid a.card div.image {
  padding-bottom: 52.26%;
  background-size: cover;
  border-radius: 0.25em 0.25em 0 0;
  margin-bottom: 0.5em;
}

div.list div.grid a.card div.title {
  font-weight: 500;
}
div.list div.grid a.card div.description {
  color: var(--gray);
  padding-bottom: 1em;
}
