nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav ul li:not(:last-of-type) {
  padding-right: var(--padding);
}
