div.skills > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
div.skills > div h2 {
  margin-bottom: 1rem;
}
div.skills > div span {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
