div.workshops .grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  font-size: 0.9em;
  border-top: 1px solid var(--gray);
  margin-top: 1em;
}
div.workshops .grid div {
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--gray);
}
div.workshops .grid div:nth-child(3n + 2) {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

div.workshops .grid div:nth-child(3n + 0) {
  text-align: right;
}
