a {
  color: var(--dark-gray);
  text-decoration: none;
  border-bottom: 1px solid var(--gray);
  transition: 0.3s color ease;
}
a:hover {
  color: var(--near-black);
}

a.pill {
  display: inline-block;
  padding: 0.2em 0.5em;
  color: var(--near-black);
  border: 1px solid var(--near-black);
  border-radius: 0.25em;
  text-decoration: none;
}

a.pill:hover {
  background: var(--near-black);
  color: var(--white);
}
