.pa {
  padding: var(--padding);
}
.pv {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.ph {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.pb {
  padding-bottom: var(--padding);
}
