h2 {
  font-family: 'Roboto Mono';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--near-black);
}

.mono {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.small {
  font-size: 0.8em;
}
