:root {
  --padding: 1rem;

  --near-black: #202020;
  --black: #000000;
  --near-white: #f5f5f5;
  --white: #ffffff;
  --gray: #b3b9bc;
  --dark-gray: #999999;

  --green: #75ec55;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;

  overflow: auto;

  font-weight: 500;

  background: #f5f5f5;
}

.max-width {
  max-width: 900px;
  margin: 0 auto;
}
